<a href="https://colab.research.google.com/github/durgaprasadgaddam/Faketweets/blob/master/faketweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import nltk
nltk.download('stopwords')
stop_words =nltk.corpus.stopwords.words('english')
import nltk
ps =nltk.PorterStemmer()

In [44]:
tweets=pd.read_csv('/content/tweets.csv')
tweets.head(5)

   id  ...                                                                                              text
0   0  ...                                                                Just happened a terrible car crash
1   2  ...                                  Heard about #earthquake is different cities, stay safe everyone.
2   3  ...  there is a forest fire at spot pond, geese are fleeing across the street, I cannot save them all
3   9  ...                                                          Apocalypse lighting. #Spokane #wildfires
4  11  ...                                                     Typhoon Soudelor kills 28 in China and Taiwan

[5 rows x 4 columns]

In [0]:
print("The tweets dataset contains {} rows and {} columns".format(len(tweets),len(tweets.columns)))

In [0]:
print ("in the total {} records for the column id contains {} null values ".format(len(tweets),tweets['id'].isnull().sum()))
print ("in the total {} records for the column keyword contains {} null values ".format(len(tweets),tweets['keyword'].isnull().sum()))
print ("in the total {} records for the column location contains {} null values ".format(len(tweets),tweets['location'].isnull().sum()))
print ("in the total {} records for the column text contains {} null values ".format(len(tweets),tweets['text'].isnull().sum()))



```
# Cleaning tweets text

```

In [0]:
import string 
string.punctuation
def clean_data(text):
   text_output= "".join([word.lower() for word in text if word not in string.punctuation])
   tokenized_text = re.findall('\w+',text_output)
   no_stop_words = [word for word in tokenized_text if word not in stop_words]
   stem_text=[ps.stem(word) for word in no_stop_words]
   return stem_text
  
tweets['clean_text'] = tweets['text'].apply(lambda x : clean_data(x))


tweets.head(10)

Lemantizing the tweets

In [0]:
wn =nltk.WordNetLemmatizer()
pd.set_option('display.max_colwidth',100)

In [0]:
nltk.download('wordnet')
def word_lematizer(filtered_no_Stop):
  stem_text=[" ".join(wn.lemmatize(word) for word in filtered_no_Stop) ]
  return stem_text
tweets['lematized_data'] =tweets['text_without_stop'].apply(lambda x : word_lematizer(x))
tweets.head(5)

Vectorizing the tweets

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
ngram_vect =CountVectorizer()
xcounts = ngram_vect.fit_transform(tweets['clean_text'])
print(xcounts.shape)

In [0]:
#x_counts = cv.fit_transform(tweets['lematized_data'])